<% if !session[:user_id] %>
<nav style='position: relative; z-index: 1;' class="navbar navbar-expand-lg" style="background-color: #ffffff; font-weight: lighter">
  <a class="navbar-brand" href="/" style="color: #ffffff">Grapevine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login" style="color: #ffffff">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup" style="color: #ffffff">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
<% end %>

<div id='Vid'>
  <video autoplay loop muted poster>
    <source src="video.mp4" type="video/mp4">
  </video>
  <div style='margin-top: 20%; font-size: 30px; font-weight: lighter; text-align: center; color: white;'>
        <strong>This is a place where confessions live in peace.</strong>
  </div>
</div>
