<% if !session[:user_id] %>
<%= render 'layouts/navbar2' %>
<% end %>

<div id='Vid'>
  <video autoplay loop muted poster>
    <source src="video.mp4" type="video/mp4">
  </video>
  <div style='margin-top: 20%; font-size: 30px; font-weight: lighter; text-align: center; color: white;'>
        <p>This is a place where confessions live in peace.</p>
        <% if session[:user_id] %>
        <a href='/confessions' style='font-weight: 600; color: white'>Continue</a>
        <% end %>
  </div>
</div>
