<nav style='position: relative; z-index: 1;' class="navbar navbar-expand-lg" style="background-color: #ffffff; font-weight: lighter">
  <a class="navbar-brand" href="/" style="color: #ae00ff; font-weight: lighter;">Grapevine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarNav" style='font-weight: lighter'>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login" style="color: #ae00ff">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup" style="color: #ae00ff">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
